/* TEXT STYLES */

.rectangle-text {
	margin-bottom: 111px;
}

.about {
	margin-top: 80px;
	font-weight: 400;
	font-size: 24px;
	line-height: 35px;
}

.middle-beans-logo {
	margin-top: 20px;
}

.first {
	width: 550px;
	margin: 0 auto;
	margin-top: 40.7px;
}

.second {
	width: 550px;
	margin: 0 auto;
}